
        h1 {
            color: rgb(0, 71, 165);
            font-family: Comic Sans MS;
            text-align: center;
        }

        img {
            width: 25%;
            display: block;
            margin: auto;
            border-radius: 15px;
            padding: 5px;
        }           

        body {
             background-image: url(Background.jpg);
             background-repeat: no-repeat;
             background-position: center;
             background-size: cover;
             min-height: 100vh;
             margin: 0 auto;
             
        }


.container {
    width: 500px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    
}

.glass {
    background: linear-gradient(135deg, rgba(7, 123, 255, 0.1), rgba(0, 153, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 2px solid rgba(8, 96, 179, 0.788);

    
}

        p {
            color: rgb(0, 54, 126);
            font-family: Comic Sans MS;
            font-size: larger;
            text-align: center;
            padding: 5px;
        }

        .containerone {

            margin: 20px auto;
            text-align: center;
            height: 65px;
            width: 750px;


        }

        .containertwo {

            margin: 20px auto;
            width: 750px;
        }

        .icons {
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 5px;
}

.icons img {
    width: 35px;
    margin: 0;
    display: block;
    border-radius: 30px;

}

.containerthree {

    margin: 10px;
}

