
        h1 {
            color: rgb(0, 71, 165);
            font-family: Comic Sans MS;
            text-align: center;
        }

        img {
            position: relative;
            top: 20px;
            width: 25%;
            border-radius: 15px;
            padding: 5px;
        }           

        body {
             background-image: url(Background.jpg);
             background-repeat: no-repeat;
             background-position: center;
             background-size: cover;
             min-height: 100vh;
             margin: 0 auto;
             
        }


.container {
    width: 450px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    left: 150px;
    position: relative;
}

.glass {
    background: linear-gradient(135deg, rgba(7, 123, 255, 0.1), rgba(0, 153, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 2px solid rgba(8, 96, 179, 0.788);
    
}

        p {
            color: rgb(0, 54, 126);
            font-family: Comic Sans MS;
            font-size: larger;
            text-align: center;
            padding: 5px;
        }

        .containerone {

            margin: 20px auto;
            text-align: center;
            height: 100px;
            width: 750px;
            position: relative;
            bottom: 300px; 

        }

        .containertwo {

            margin: 20px auto;
            width: 750px;
        }

        .icons {
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 5px;
    position: relative;
    bottom: 50px;
}

.icons img {
    width: 35px;
    display: block;
    border-radius: 25px;
    filter: drop-shadow(0 0 5px rgb(0, 85, 134))
    

}

.containerthree {

    margin: 10px;
}

.containerfour {
    width: 275px;
    margin: auto;
    position: relative;
    right: 230px;
    bottom: 295px;
    height: 295px;
    bottom: 298px;

}

        p.b {
            color: rgb(0, 54, 126);
            font-family: Comic Sans MS;
            font-size: larger;
            text-align: center;
            padding: 35px;
        }

        .zoom {
            transition:transform 0.2s ease-in-out;
            
            


        }

        .zoom:hover {
            transform: scale(1.1) translateY(-5px)
        }
